<h{{ include.level }} id="{{ include.title | slugify }}" {% if include.important %} class="important" {% endif %}>
    <a href="#{{ include.title | slugify }}">{{ include.title }}</a>
</h{{ include.level }}>
